@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin-border {
  0% {
    border-top-color: blue; /* Ko'k rang */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: blue; /* Ko'k rang */
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: blue; /* Ko'k rang */
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: blue; /* Ko'k rang */
  }
  100% {
    border-top-color: blue; /* Ko'k rang */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.animate-spin-border {
  animation: spin-border 0.4s linear infinite;
}

.animate-fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
}


footer {
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.translate-x-12 {
  transform: translateX(12rem);
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.translate-x-0 {
  transform: translateX(0);
}
